
body{
    margin:0px;
    font-family:sans-serif;
    background-color: black;
}
#cont{
    display: grid;
    height: 540px;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-rows: 10px 10px 10px 10px 10px 10px;
    padding-top: 20px;
}
h1{
    font-family: 'Grande';
    color: black;
    height: 35px;
    width: 279px;
    padding-top: 5px;
    background-color: #F96D25;
    grid-column-start: 9;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    font-size:25px;
    border-radius: 8px;
}
h2{
    font-family: 'Grande';
    color: black;
    height: 23px;
    width: 280px;
    background-color: #FAD834;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
}
#piano{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
}
#c1, #c2, #c3, #c4{
    background-color: #AE26A4;
    height: 90px;
    width: 280px;
    border-radius: 8px;
}
#c1{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;
}
#trivia{
    grid-column-start: 13;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 5;
}
#c2{
    grid-column-start: 13;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 7;
}
#diseño{
    grid-column-start: 9;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 9;
    z-index: 2;;
}
#c3{
    padding-top: 0%;
    grid-column-start: 9;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 9;
    z-index: 1;
    height: 115px;
}
#programadores{
    grid-column-start: 9;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 12;
}
#fotos{
    width: 100%;
    display: flex;
}
#fotos div{
    text-align: center;
    width: 270px;
    height: 200px;
    margin: 4%;
    box-sizing: border-box;
    z-index: 4;
}
#fotos div:nth-child(1){
    background-image: url(../img/fotos/irandy.jpeg);
    order: 1;
}
#fotos div:nth-child(2){
    background-image: url(../img/fotos/mauricio.jpeg);
    order:2;
}
#fotos div:nth-child(3){
    background-image: url(../img/fotos/sergio.jpg);
    order: 3;
}
#fotos div:nth-child(4){
    background-image: url(../img/fotos/melisa.jpg);
    order: 4;
}
#fotos div{
    background-size:cover ;
    filter: brightness(0.9);
}
#raya{
    font-family: 'Grande';
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #F5464A;
    color: white;
}
#morado{
    font-family: 'Grande';
    width: 100%;
    display: flex;
    color: white;
    font-size: medium;
    padding-top: 0px;
    flex-wrap: nowrap;
    flex-direction: row;
}
#morado h3{
    text-align: center;
    width: 180px;
    height: 30px;
    margin: 6%;
    padding-left: 20px;
    box-sizing: border-box;
    background-color: #822861;
    font-size: medium;
    padding-top: 5px;
    border-radius: 8px;
}
#n1, #n2, #n3, #n4{
    position: absolute;
    height: 227px;
    width: 250px;
    background-color: #F96D25;
    z-index: 3;
    top: 96%;
    border-radius: 8px;
}
#n1{
    left: 2.97%;
}
#n2{
    left: 28%;
}
#n3{
    left: 53%;
}
#n4{
    left: 78%;
}
@media screen and (max-width: 1000px){
    #cont{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        align-items: center;
    }
    #fotos, #naranja{
        display: none;
    }
    #morado{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    #morado h3{
        padding-left: 2px;
    }
}