/*=Division General
---------------------------------------------*/
#cont{
    display: grid;
    height: 875px;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-rows:    7% 7% 7% 2.5% 7% 7% 2.5% 2.5% 2.5% 7% 7% 7% 7% ;
    justify-items:last baseline;
    padding-top: 20px;
}
.subtitulo{
    font-size: 32px;

    height: 49px;
    width: 538px;
    background-color: var(--amarillo);
    border-radius: 10px;

    text-align: center;
}
h2{
    font-family: "m23";
    font-size: 32px ;
    padding-top: 5px;
    text-align: center;
}
#tabla1{
    background-color: var(--morado2);
    height: 500px;
    height: max-content;
    width: 1100px;
    border-radius: 10px;
}

#piano{
    grid-column: 8;
    grid-row-start:3;
    grid-row-end:3;
}
#tabla1{
    display: flex;
    grid-column: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    justify-content: space-around;
    
}

.usuarioP{
    background-color: var(--morado1);
    height: 47px;
    width: 307px;
    margin-top: 10px;
    border-radius: 8px;
}
.puntajeP{
    background-color: var(--morado1);
    height: 47px;
    width: 307px;
    margin-top: 10px;
    border-radius: 8px;
}
.fechaP{
    background-color: var(--morado1);
    height: 47px;
    width: 307px;
    margin-top: 10px;
    border-radius: 8px;
}
.fechaP, .puntajeP, .usuarioP{
    height: max-content;
}
p{
    font-family: "m23";
    font-size: 1em;
    text-align: center;
    color: azure;
}
#trivia{
    grid-column: 8;
    grid-row-start:12;
    grid-row-end:12;
}

#tabla2{
    display: flex;
    grid-column: 5;
    grid-row-start: 13;
    grid-row-end: 13;
    justify-content: space-around;
    
}

.usuarioT{
    background-color: var(--morado1);
    height: 47px;
    width: 307px;
    margin-top: 10px;
    border-radius: 8px;
}
.puntajeT{
    background-color: var(--morado1);
    height: 47px;
    width: 307px;
    margin-top: 10px;
    border-radius: 8px;
}
.fechaT{
    background-color: var(--morado1);
    height: 47px;
    width: 307px;
    margin-top: 10px;
    border-radius: 8px;
}

a{
    text-decoration:none;
    color: black;
}
#boton{
    background-color: var(--morado2);
    height: 61px;
    width: 309px;
    border-radius: 8px;

    grid-column-start: 9;
    grid-column-end: 9;
    grid-row-start: 13;
    grid-row-end: 13; 
    text-align: center;
}

/*=ADAPTABILIDAD
---------------------------------------------*/
@media screen and (max-width: 1330px){
    #cont{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        align-items: center;
    }

}