<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../statics/img/icon/favicon.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../statics/styles/puntaje.css">
    <title>Puntajes</title>
</head>
    <body>
        <nav id="navbar" class="navbar navbar-expand-xl navbar-light bg-danger"  style="padding: 0px">
            <div class="container-xxl">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html"><img src="../statics/img/icon/favicon.png" alt="Logo Sami Arcade" id="logo"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html" style="padding-right: 0px; padding-bottom: 0px;margin-right: 0px;"><h1  id="SAMI">S A M I</h1></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../templates/games.html" style="padding-right: 0px; padding-bottom: 0px; margin-left: 50px;"><i class="fas fa-gamepad fa-2x"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../templates/games.html"  style="padding-right: 0px;  padding-bottom: 0px;  "><h1 class="barra">Juegos</h1></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../templates/puntajes.html" style="padding-right: 0px;  padding-bottom: 0px;margin-left: 50px; "><i class="fas fa-trophy fa-2x"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../templates/puntajes.html" style="padding-left: 6px;  padding-bottom: 0px;  "><h1 class="barra">Puntajes</h1></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="padding-right: 0px;  padding-bottom: 0px; margin-left: 50px;"><i class="fas fa-cogs fa-2x"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"  style="padding-right: 0px;  padding-bottom: 0px;"><h1 class="barra">Ajustes</h1></a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>

        <div id="cont">
            <h1 id="titulo">Puntajes</h1>
            <h2 class="subtitulo" id="piano">PIANO TILES</h2>
            <div id="tabla1">
                <div class="usuarioP"> <h2>usuario</h2></div>
                <div class="puntajeP"> <h2>Puntaje</h2> </div>
                <div class="fechaP"> <h2> FECHA</h2> </div>
            </div>

            <h2 class="subtitulo"id="trivia">TRIVIA</h2>
            <div id="tabla2">
                <div class="usuarioT"><h2>usuario</h2></div>
                <div class="puntajeT"><h2>Puntaje</h2></div>
                <div class="fechaT"><h2> FECHA</h2></div>
            </div>
        </div>
        <div id="footer">SAMI</div>
    </body>
</html>